{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% if app.user %}
    <p>Username : {{ app.user.username }}</p>
    <p>Email : {{ app.user.email }}</p>
    <p>Password : {{ app.user.password }}</p>
    <a href="{{ path('app_logout') }}">logout</a>
    <form method="post" action="{{ path('app_delete_user') }}" >
        <button type="submit">supp compte</button>
    </form>
{% else %}
    <p>pas connecté</p>
    <a href="{{ path('app_login') }}">login</a>
    <a href="{{ path('app_register') }}">register</a>
{% endif %}

{% endblock %}
