{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<p>Username : {{ app.user.username }}</p>
<p>Email : {{ app.user.email }}</p>
<p>Password : {{ app.user.password }}</p>
<a href="{{ path('app_logout') }}">logout</a>
<form method="post" action="{{ path('app_delete_user') }}" >
    <button type="submit">supp compte</button>
</form>


{% endblock %}
