{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
{% endblock %}

{% block body %}

<form class="formContainer" method="post">

    <div class="accountTitleContainer">
        <h1 class="accountTitle">Nous contacter</h1>
    </div>

    {% if app.user %}
        <div class="form__group field">
            <input type="text" class="form__field" placeholder="Nom d'utilisateur" name="username" value="{{ app.user.username }}" autocomplete="username" required>
            <label for="username" class="form__label">Nom d'utilisateur</label>
        </div>

        <div class="form__group field">
            <input type="email" class="form__field" placeholder="Email" name="email" value="{{ app.user.email }}" autocomplete="email" required>
            <label for="email" class="form__label">Email</label>
        </div>
    {% else %}
        <div class="form__group field">
            <input type="text" class="form__field" placeholder="Nom d'utilisateur" name="username" autocomplete="username" required>
            <label for="username" class="form__label">Nom d'utilisateur</label>
        </div>

        <div class="form__group field">
            <input type="email" class="form__field" placeholder="Email" name="email" autocomplete="email" required>
            <label for="email" class="form__label">Email</label>
        </div>
    {% endif %}

    <div class="form__group field">
        <textarea id="message" class="form__field" name="message" rows="1" placeholder="Votre demande" required></textarea>
        <label for="message" class="form__label">Votre demande</label>
    </div>
    
    <input type="hidden" name="_token" value="{{ csrf_token('contact') }}">
    
    <button class="contactButton" type="submit">Envoyer</button>

    <p class="accountPolicy">Nous utiliserons vos informations personnelles afin de pouvoir répondre à votre demande. Pour plus d'informations sur nos pratiques en matière de confidentialité et sur vos droits, veuillez consulter notre <a href="{{ path('app_privacy') }}">politique de confidentialité</a>.</p>

</form>

{% endblock %}
