<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="https://cms-cdn.goat.com/2fb8a5a0ad5f-549a-ce11-6113-0e55ec6b.png">
        <!-- <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        <header>
            <!-- <h1 class="headerLogo">Logo</h1> -->
            <!-- <img class="headerLogo" src="{{ asset('img/logo.png') }}" alt="Logo"> -->
            <div class="navHeader">
                <nav>
                    <a href="{{ path('app_home') }}">Accueil</a>
                    <a href="{{ path('app_about') }}">Qui sommes-nous ?</a>
                    <a href="{{ path('app_privacy') }}">Politique de confidentialité</a>
                    <a href="{{ path('app_cgv') }}">CGV</a>
                    <a href="{{ path('app_cgu') }}">CGU</a>
                </nav>
            </div>
            <div class="headerUser">
                {% if app.user %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('app_article_new') }}" class="btnAddArticle">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 12 12"><path d="m10.75,6.75H1.25c-.414,0-.75-.336-.75-.75s.336-.75.75-.75h9.5c.414,0,.75.336.75.75s-.336.75-.75.75Z" fill="rgba(0, 0, 0, 1)" stroke-width="0" data-color="color-2"></path><path d="m6,11.5c-.414,0-.75-.336-.75-.75V1.25c0-.414.336-.75.75-.75s.75.336.75.75v9.5c0,.414-.336.75-.75.75Z" stroke-width="0" fill="rgba(0, 0, 0, 1)"></path></svg>
                        </a>
                    {% endif %}
                    <a href="{{ path('app_profile') }}">Mon compte</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Se connecter</a>
                {% endif %}
            </div>

        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        
        <footer>
        
        </footer>
        
    </body>
</html>
