{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/article.css') }}">
{% endblock %}

{% block title %}Acheter un {{ article.description }} {% endblock %}

{% block body %}

    <div class="articleShow">

        <div class="articleInfo">
            <h1>{{ article.description }}</h1>
            <h2>{{ article.price }}€</h2>
        </div>

        <div class="articleImg">
            <img src="{{ article.imageLink }}" alt="{{ article.description }}">
        </div>
        
        <div class="articleBtn">
            <!-- <h3>Code produit : {{ article.id}}</h3> -->
            <div class="contactButton">Nous contacter</div>


            <a href="{{ path('app_home') }}">Retour</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                {{ include('article/_delete_form.html.twig') }}
            {% endif %}
        </div>
        
    </div>


{% endblock %}
